<!-- header content section -->
<section id="works-info" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 hero">
        <div class="hero-content">
          <h4>{{pageTitle}}</h4>
          <p>Nullam at enim mauris. Donec et nunc ipsum. Suspendi tempus fringilla ipsu Cras metus euismod velit gravida at nunc ipsum.</p>
        </div>
        <!-- hero --> 
      </div>
      <div class="col-md-5 col-sm-6 hero text-center">
        <div class="hero-content"> <a href="https://www.designstub.com" class="btn">Visit Site <i class="fa fa-long-arrow-right"></i> </a> </div>
        <!-- hero --> 
      </div>
    </div>
  </div>
</section>
<!-- header content section --> 
<!-- portfolio grid section -->
<section id="work-detail">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-12 work-detail ">
        <div class="work-detail"> <img src="assets/images/portfolio/work-1.jpg" class="img-responsive" alt=""> <img src="assets/images/portfolio/work-3.jpg" class="img-responsive" alt=""> <img src="assets/images/portfolio/work-5.jpg" class="img-responsive" alt="">
          <p class="extra-padding">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus sagittis molestie est vel facilisis. Nunc vulputate est ut erat aliquam, sed elementum justo bibendum. Quisque non mattis mauris, eget venenatis quam.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio grid section --> 
<!-- service section -->
<section id="backto" class="work-detail section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center section"> <a href="/"><i class="fa fa-th fa-2x"></i></a>
        <p>Back to projects</p>
      </div>
    </div>
  </div>
</section>
<!-- service section --> 